<!DOCTYPE html>
<html>
  <head>
    <!-- client_app.html -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>

    <script src="./javascripts/chart_sleeping.js"></script>
    <script src="./javascripts/vue_client.js"></script>

    <link rel="stylesheet" type="text/css" href="./stylesheets/client_app.css">
    <!-- component template -->
    <script type="text/x-template" id="grid-template">
      <table>
        <thead>
          <tr>
            <!--
            <th v-for="key in columns"
              @click="sortBy(key)"
              :class="{ active: sortKey == key }">
              {{ key | capitalize }}
              <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
              </span>
            </th>
            -->
            <th v-for="key in columns">
              {{ key | capitalize }}
            </th>
        </tr>
        </thead>
        <tbody>
          <tr v-for="entry in filteredData">
            <td v-for="key in columns">
              {{entry[key]}}
            </td>
          </tr>
        </tbody>
      </table>
    </script>
  </head>
  <body>
    <div id="id_ctrl_panel">
      <!-- このブロックは丸ごとjQueryで表示／非表示を管理する。 -->
      <div id="app_setup">
        ユーザーID（メールアドレス）<br>
        <input name="username" v-model="userName">
        <!-- ◆バリデーションする。公式メールアドレスの例がある◆ -->
        <input value="登録" type="button" v-on:click="createAccount">
      </div>
    </div>
    <hr>
    <!-- grid-view element -->
    <div id="app_grid">
      <!-- 
      <form id="search">
        Search <input name="query" v-model="searchQuery">
      </form>
      <vue-my-element-grid
        :data="gridData"
        :columns="gridColumns"
        :filter-key="searchQuery">
      </vue-my-element-grid>
      -->
      <vue-my-element-grid
        :data="gridData"
        :columns="gridColumns">
      </vue-my-element-grid>
    </div>
    <div>
      <canvas id="id_chart" style="width: 100%"></canvas>
    </div>

    <br><br><br>
    <div>
      <form id="app_axios">
        Axios! <input name="query" v-model="axiosQuery">
        <input value="GET!" type="button" v-on:click="getUsers">
        <input value="PUT!" type="button" v-on:click="putUsers">
      </form>
    </div>
  </body>
</html>




